.container {
  width: 100%;
  padding: 0;
  background-color: #3f230d;
  color: #844e18;
}
.container-two {
  width: 70vw;
  margin: 0% 15% 0 15%;
}
h2 {
  font-family: "Trebuchet MS",Arial,sans-serif;
}
.btn {
  background-color: #da7e25;
  color: white;
  text-align: center;
  min-width: 100px;
  box-shadow: 0px 3px #834c16;
  margin-right: 1.4%;
  margin-bottom: 4%;
  border-radius: 0;
}
/*******nav******/
.navbar-brand img {
  /*padding: 0;*/
  width: 60%;
  margin-right: 0;
}
.nav {
  background-color: #2f1c0b;
  height: 5%;
  margin-bottom: 2%;
}
/********left column******/
.panel-body img {
  width: 100%;
}
.left-column {
  /*margin-right: 2%;*/
}
.left-column-panel {
  background-color: #844e18;
  border: none;
}
.right-bottom-column p {
  font-family: "Arvo",serif;
  font-size: 1.3em;
}
.right-bottom-column .btn {
  min-width: 150px;
  font-family: "Arvo",serif;
}
/********right column*******/
.right-panel-one {
  background-color: #3f230d;
}
.right-panel-two {
  background-color: #3f230d;
  /*opacity: .3;*/
}
.right-top-column img {
  width: 100%;
}
